.CounterApp{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    
}
.counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid black;
    width: 500px;
   
}
.counter h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}
.CounterApp input {
    margin: 5px;
    font-size: 18px;
    width: 100px;
    height: 50px;
}
.CounterApp button{
    border-radius: 5px;
    width: 100px;
    height: 50px;
}
.CounterApp button:active{
    background-color: yellow;
}
.valueInput{
    justify-content: space-between;
    width: 300px;
    display: flex;
    border: 1px solid black;
}

.borderValue{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}