.counter{
    
    align-items: center;
   
}
.counter h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}
 .borderValue{
    
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.CounterApp input {
    margin: 5px;
    font-size: 18px;
    width: 100px;
    height: 50px;
}
.CounterApp button{
    border-radius: 5px;
    width: 100px;
    height: 50px;
}
.CounterApp button:active{
    background-color: yellow;
}
